#include "ConfigEditor.h"

IDD_CONFIG_DIALOG DIALOGEX 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "编辑配置"
FONT 9, "Segoe UI"
BEGIN
    EDITTEXT        IDC_EDIT_INPUT, 20, 20, 220, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "保存", IDC_BUTTON_SAVE, 100, 60, 60, 14
END
